<% unless current_user.nil? %>
  <%= "email: #{current_user.email }" %>
  <%= "Role: #{current_user.role}" %>
<% end %>


<div class="col-md-9">
  <%= render 'form'%>

  <% @posts.each do |post| %>
    <div class="well">
          <h1> <%= post.title %> <small> <%= current_user.email %> </small></h1>

          <%= post.content %>
          <%= link_to 'Show', post %>
          <%= link_to 'Edit', edit_post_path(post) if can? :update, post %>
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, post %>
          <%= render :partial => 'comments/comment', collection: post.comments %>

          <%= render :partial => 'comments/form', object: post.comments.build, as: :comment %>

    </div>
  <% end %>
</div>
